@use '../abstracts/variables';

body {
    font-family: variables.$font-family;
    min-height: 100vh;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

header {
    padding-inline: variables.$space-s;
    padding-block: variables.$space-s;
}

main {
    padding-block: variables.$space-s-l;
}

nav {
    height: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

td {
    padding-block: 0.2em;
}

input {
    border-radius: 0.5em;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgray;
}
