@use '../abstracts/variables';

.container-city-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: variables.$space-l-xl;

    article > * {
        text-align: center;
        margin-block-start: 3em;
    }

    &__general > h2 {
        margin-block-end: 1em;
    }

    &__summary > *,
    &__average > * {
        margin-block-start: 1em;
    }

    &__statistic > * {
        margin-block-start: 1.5em;
    }
}
