$font-family: Arial, Helvetica, sans-serif;

// space
/* Space s: 18px → 20px */
$space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
/* Space s-xl: 18px → 60px */
$space-s-xl: clamp(1.13rem, calc(0.21rem + 4.57vw), 3.75rem);
/* Space s-l: 18px → 40px */
$space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
/* Space l-xl: 36px → 60px */
$space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
