$font-family: Arial, Helvetica, sans-serif;

// space
/* Space s-xl: 18px → 60px */
$space-s-xl: clamp(1.13rem, calc(0.21rem + 4.57vw), 3.75rem);
/* Space s-l: 18px → 40px */
$space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
