@use '../abstracts/variables';

.container-city-search {
    position: relative;
    margin-inline: 0.5em;

    &[data-position='center'] {
        padding: 1em;
    }

    &[data-position='left'] {
        display: inline-block;
    }

    form {
        position: relative;
        height: 50px;

        input {
            text-align: left;
            z-index: 10;
            position: absolute;
            width: 100%;
            border: 1px solid map-get(variables.$colors, 'neutral', '400');
            outline: none;
            overflow: hidden;
            background-color: map-get(variables.$colors, 'neutral', '200');

            &[data-dimension='big'] {
                padding: 1em;
            }

            &[data-dimension='small'] {
                padding: 0.5em;
            }

            &:focus {
                border: 2px solid map-get(variables.$colors, 'neutral', '500');
            }

            &:hover {
                box-shadow: 0px 1px 6px map-get(variables.$colors, 'neutral', '300');
            }
        }

        ul {
            position: absolute;
            top: 2em;
            left: 0;
            right: 0;
            background-color: map-get(variables.$colors, 'neutral', '200');
            border: 1px solid map-get(variables.$colors, 'neutral', '400');
            box-shadow: 0px 1px 6px map-get(variables.$colors, 'neutral', '300');
            padding-block-start: 1.3em;
            border-radius: 0 0 0.5em 0.5em;

            li {
                padding: 0.5em 1.5em;

                &[data-highlight='true'] {
                    background-color: map-get(variables.$colors, 'neutral', '400');
                }
            }
        }
    }

    button {
        position: absolute;
        right: 5px;
        top: -35px;
        font-size: variables.$step-0;
        padding-inline: 0.4em;
        border-radius: 50%;
        line-height: none;

        &:hover {
            background-color: lightgray;
            box-shadow: 0px 1px 6px map-get(variables.$colors, 'neutral', '300');
        }
    }

    &__form-big {
        width: 50%;
        min-width: 250px;
    }

    &__form-small {
        width: 200px;
    }
}
